/* RESET */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;

}

a {
    text-decoration: none;
}

.body-bg {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url(../img/Fundo_academia.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background: url(../img/Fundo_academia.jpg) center center/100% 100% no-repeat fixed;
}

.cabecalho {
    width: 100%;
    float: left;
    background-color: black;
    opacity: 65%;
}


.logo {
    width: 8%;
    float: left;
    background-color: 0;
    padding-left: 30px;
    margin-top: 0;
    padding-bottom: 0;
}

.nome-logo {
    width: 30%;
    height: 78px;
    float: left;
    padding-left: 15px;
}

.nome-logo h1 {
    width: 100%;
    /* ACIMA, DIREITA, ABAIXO, ESQUERDA */
    padding: 25px 0px 0px 0px;
    margin: 0;
    text-align: left;
    color: white;
    font-size: 25px;
    font-family: Clarendon Blk BT;

}

.main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    float: left;
}


.conteudo {
    float: left;
    width: 30%;
    height: 240px;
    background-color: white;
    opacity: 75%;
    margin: 9% 35% 9.1% 35%;
    border-radius: 8px;
    padding: 15px;
}

.rodape {
    width: 100%;
    height: 60px;
    float: left;
    background-color: black;
    opacity: 65%;

}

.bt-entrar {
    width: 100%;
    padding-left: 40%;
    padding-top: 12px;
}

.bt-entrar a {
    color: white;
    text-decoration: none;
}

.bt-entrar a:hover {
    color: #D9D9D9;
}

.menu-vertical {
    background-color: black;
    float: left;
    width: 25%;
    max-width: 200px;
    height: 100%;
    position: absolute;
    opacity: 75%;
}

.conteudo-site {
    background-color: rgb(255, 255, 255);
    float: left;
    margin: 0;
    width: 75%;
    height: auto;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.menu-vertical ul {
    padding: 15px;
    margin: 0;
}

.menu-vertical ul li {
    display: block;
    padding-top: 5px;
    border: 1px solid rgb(117, 117, 117);
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: #4087EE;

}

.menu-vertical ul li:hover {
    background-color: #D9D9D9;
}

.menu-vertical ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 0px 5px 0;
}

.menu-vertical ul li a:hover {
    color: black;
}

.menu-top {
    width: 60%;
    height: 78px;
    float: left;
}

.menu-top ul {
    padding: 30px 0px 0px 0px;
    margin: 0;
}

.menu-top ul li {
    margin-bottom: 0;
    display: inline-block;
    padding-left: 25px;

}

.menu-top ul li a {
    color: rgb(255, 255, 255);
    margin-right: 25px;
    margin-bottom: 0;
    display: inline-block;
    text-decoration: none;

}

.menu-top ul li a:hover {
    color: rgb(92, 92, 92);
    margin-bottom: 0;
}

.menu-conteudo {
    float: left;
    width: 100%;
    padding-bottom: 5px;
}

.bt-Cadastrar {
    float: left;
    width: 30%;
}

.bt-Cadastrar a {
    color: white;
    text-decoration: none;
}

.bt-Cadastrar a:hover {
    color: #D9D9D9;
}

.cx-pesquisar {
    float: right;
    width: 30%;
}

.cx-pesquisar input {
    float: right;
    width: 150px;
}

.bt-Salvar {
    float: left;
    width: 30%;
}

.bt-Salvar a {
    color: white;
    text-decoration: none;
}

.bt-Salvar a:hover {
    color: #D9D9D9;
}

.bt-Cancelar {
    float: right;
}

.bt-Cancelar a {
    color: white;
    text-decoration: none;
}

.bt-Cancelar a:hover {
    color: #D9D9D9;
}

.bt-lixo {
    color: rgb(233, 110, 110);
}

.bt-lapis {
    color: rgb(84, 201, 84);
}

.form-fin {
    width: 100%;
    float: left;
    padding: 0px;
    margin-top: 0px;
}

.form-fin div {
    width: 50%;
    float: left;
    padding-right: 20px;
    margin: 0;
    margin-bottom: 10px;

}

.modalidade-fin {
    width: 50%;
    float: left;
    padding: 0px;
    margin-top: 10px;
}

.modalidade-fin div {
    width: 50%;
    float: left;
    padding-right: 30px;
    margin: 0;

}

#titulo-fin {
    float: left;
    width: 100%;
    margin-top: 15px;

}